# True for development, False for production
DEBUG=True

SECRET_KEY=<YOURS_SECRET_KEY>

POSTGRES_DB=<YOURS_POSTGRES_DB>
POSTGRES_USER=<YOURS_POSTGRES_USER>
POSTGRES_PASSWORD=<YOURS_POSTGRES_PASSWORD>
POSTGRES_HOST=<YOURS_POSTGRES_HOST>
POSTGRES_PORT=<YOURS_POSTGRES_PORT>
